{% if form %}
  <form action='/librarian/book/{{ book.getId }}/updateTitle' method='post'>
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <h3>Edit This Book</h3>
      <label>Book Title</label>
      <input name='new-book-title' type='text' class='form-control' value='{{ book.getTitle }}'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
  <br>
  <h3>Number of copies in catalog: {{ book.countCopies }}</h3>
  <form action="/librarian/book/{{ book.getId }}/addCopy" method="post">
    <button type='submit' class='btn btn-warning'>Add a copy to catalog</button>
  </form>
  <br>
    {% for copy in copies%}
    <div class="well well-sm">
        <h4>Location/Patron: {{ copy.owner_name }}</h4>
        <h5>Copy Id: {{ copy.copy_id }}</h5>
        {% if copy.checked_out %}
            <h5>Due Date: {{ copy.due_date }}</h5>
            <h5>Overdue:
                {% if copy.over_due %}
                    <p>OVERDUE</p>
                {% else %}
                    <p>No</p>
                {% endif %}
            </h5>
        {% else %}
            <h5>Due Date: {{ copy.due_date }}</h5>
            <h5>Overdue:
                {% if copy.over_due %}
                    <p>OVERDUE</p>
                {% else %}
                    <p>No</p>
                {% endif %}
            </h5>
        {% endif %}
        <form action="/librarian/book/{{ book.getId }}/deleteCopy/{{ copy.copy_id }}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type='submit' class='btn btn-danger'>Delete this copy</button>
        </form>
    </div>

    {% endfor %}



{% endif %}
