{% if form %}
  <form action='/librarian/book/{{ book.getId }}/updateTitle' method='post'>
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <h3>Edit This Book</h3>
      <label>Book Title</label>
      <input name='new-book-title' type='text' class='form-control' value='{{ book.getTitle }}'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
  <br>
  <h3>Number of copies in catalog: {{ book.countCopies }}</h3>
  <form action="/librarian/book/{{ book.getId }}/addCopy" method="post">
    <button type='submit' class='btn btn-success'>Add a copy to catalog</button>
  </form>
  <form action="/librarian/book/{{ book.getId }}/deleteCopy" method="post">
    <!-- <input type="hidden" name="_method" value="delete"> -->
    <button type='submit' class='btn btn-success'>Delete a copy from the catalog</button>
  </form>
{% endif %}
